.movie-details-container {
  height: calc(90vh - 60px);
  padding: 30px;
  overflow: auto;
}

.movie-details-container h2.error {
  width: 100%;
  text-align: center;
  color: coral;
}

.movie-details-container img {
  display: block;
  object-fit: contain;
  float: right;
  border-radius: 4px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.movie-details-container button {
  height: 30px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  color: rgb(9, 211, 172);
  border: solid 1px rgb(9, 211, 172);
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
  transition: all 250ms ease-in-out;
}

.movie-details-container button:hover {
  background-color: rgb(9, 211, 172);
  color: rgb(51, 54, 59);
}

.movie-details-container .movie-details h2 {
  font-size: 32px;
  padding-bottom: 20px;
}

.movie-details-container .movie-details p {
  font-size: 20px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1439px) {
  .movie-details-container button {
    height: 28px;
  }

  .movie-details-container .movie-details h2 {
    font-size: 30px;
  }
  
  .movie-details-container .movie-details p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1023px) {
  .movie-details-container button {
    height: 24px;
    font-size: 14px;
  }

  .movie-details-container .movie-details h2 {
    font-size: 28px;
    padding-bottom: 15px;
  }
  
  .movie-details-container .movie-details p {
    font-size: 16px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .movie-details-container button {
    height: 20px;
    font-size: 12px;
  }

  .movie-details-container .movie-details h2 {
    font-size: 24px;
    padding-bottom: 10px;
  }
  
  .movie-details-container .movie-details p {
    font-size: 12px;
    padding-bottom: 5px;
  }
}
